 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Spectral, serif;
}

html, body {
  width: 100%;
  min-height: 100vh; 
  background-color: #ffffff;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}

.tasks-panel {
  display: flex;  
  background-color: #26334A;
  width: 100%;                 
  height: 64px; 
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.back-icon {
  transform: rotate(90deg);
  margin-left: 10px;
}

.tasks-panel-h1 {
  font-size: 18px;
  font-weight: 600;
  font-family: Spectral, serif;
  line-height: 21px;
  width: 155px;
  height: 21px;
  padding-left: 12px;
  color: #FCFAEE;
  margin-left: 12px;
  margin-top: 21px;
}

.type-task-or-event{
  width: 138px;
  height: 38px;
  padding: 10px 0px 0px 0px;
  gap: 32px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #26334A;
  margin-left: 0px;
  margin-right: 56px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 15px;
}

select {
  background-color:#26334A; 
  color: initial;          
}

select {
  background-color: #26334A; 
  color: initial;          
}

#mySelect option:first-child {
  color: gray !important;
}

.type-task-or-event-item {
  color: white;
  font-family: Spectral, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.list-tasks {
  flex: 1; 
  width: 100%;
  background-color: #111828;   
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  background-color: #111828;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #111828;
}

.active {
  display: flex;
  width: 90%;
  height: 40px;
  padding: 4px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #FCBC02;
  margin-top:0px;
  margin-right: 7px;
  margin-left: 7px;
}

.black-add-text{
  color: white;
  width: 92px;
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.plus{
  width: 18px;
  height: 18px;
}

#second-image {
  display: none;
  width: 18px;
  height: 18px;
}

.button-add-task {
  color: #818181; 
  font-family: Spectral, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center; 
  margin: 0; 
  white-space: nowrap; 
}

.yellow-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 90%; 
  height: 40px;
  border-radius: 8px;
  background-color: #81818166;
  margin: 0 auto; 
  padding: 0; 
  gap: 10px; 
}

.active {
  display: flex;
  align-items: center;         
  justify-content: center;     
  width: 90%;                  
  height: 40px;                 
  border-radius: 8px;  
  padding: 0;  
  background-color: #FCBC02;    
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  gap: 10px;
}

.active .button-content {
  display: flex;
  align-items: center;          
  justify-content: center;      
  gap: 10px;      
  margin-top: 10px;              
}

.active .plus {
  width: 20px;                  
  height: 20px;
}

.active .button-add-task {
  color: white;                 
  font-family: Spectral, sans-serif;
  font-size: 16px;
  text-align: center;           
  margin: 0;                    
}
