* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Spectral, serif;
  }
  
  html, body {
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  #darkEvForm{
    display: flex;
    flex-direction: column;
    height: 100%; 
  }

  .tasks-panel {
    display: flex;
    background-color: #26334A;
    width: 100%;
    height: 64px;  
    flex-shrink: 0; 
  }

  .content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color:#111828;
    overflow-y: auto;
  }

  .content::-webkit-scrollbar {
    width: 6px; 
  }
  
  .content::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .content::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 3px; 
  }
  
  .content::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }

  .back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .back-icon{
    transform: rotate(90deg);
    margin-left: 10px;
  }
  
  .tasks-panel-h1{
    font-size: 18px;
    font-weight: 600;
    font-family: Spectral, serif;
    line-height: 21px;
    width: 155px;
    height: 21px;
    padding-left: 12px;
    color: #FCFAEE;
    margin-left: 12px;
    margin-right: 32px;
    margin-top: 21px;
    margin-bottom: 22px;
  }
  
  .type-event{
    width: 138px;
    height: 38px;
    padding: 10px 0px 0px 0px;
    gap: 32px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #26334A;
    margin-left: 0px;
    margin-right: 56px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 15px;
    pointer-events: none;
    color: white;
  }
  
  select {
    background-color:#26334A; 
    color: initial;          
  }
  
  #mySelect option:first-child {
    color: gray !important;
  }
  
  .type-event-item{
    color: white;
    font-family: Spectral, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.list-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.name-event, .desc-event {
  width: 368px; 
  margin: 12px 0; 
}

.name-event {
  width: 368px;
  height: 46px; 
  padding: 12px 0px 12px 24px;
  border-radius: 16px;
  background-color: #111828;
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
  color: #ffffff;
}

.desc-event {
  width: 368px;
    height:126px;
    padding: 12px 0px 12px 24px;
    border-radius: 16px;
    background-color:#111828;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
    color:#ffffff
}

  .date-event{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 41px;
    gap: 16px;
    opacity: 0px;
    background-color: #111828;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .start-and-finish-time-block{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 41px;
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 12px;
    padding-left: 12px;
    gap: 7px;
  }

  .added-calendar{
    margin-top: 15px;
  }

  .watch{
    width: 23.33px;
    height: 23.33px;
    margin-left: 0px;
    margin-top: 9px;
    margin-right: 12px;
    left: 0px;
  }

  .day-task{
    width: 93px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #111828;
    color: #ffffff;
    border-bottom: 1px solid white;
  }

  .white-text{
    color: #ffffff;
    margin-top: 11px;
    margin-right: 16px;
    padding: 0px;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 1.5em;
  }

.date-span {
    white-space: nowrap; 
}

  .start-event-time{
    width: 66px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: rgba(255, 162, 0, 0.296);
    color:rgb(245, 155, 0);
    font-family: Spectral, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px;
  }

  .finish-event-time{
    width: 66px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: rgba(255, 162, 0, 0.296);
    color:rgb(245, 155, 0);
    font-family: Spectral, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-right: 27px;
  }

  .tire{
    color: white;
    font-family: Spectral, serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
    padding: 0px;
  }
  
  .notification{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 28px;
    opacity: 0px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .notification-bell{
    width: 22.17px;
    height: 23.33px;
    margin-left: 4px;
    margin-top: 2px;
    margin-right: 17px;
  }

  .Za{
    width: 28px;
    height: 21px;
    color:#ffffff;
    font-family: Spectral, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 4px;
    margin-right: 32px;
  }

  .time-input-container {
    display: flex;
    width: 93px;
    align-items: center;
    gap: 5px; 
    border-bottom: 1px solid white;
}

.minutes-label {
  white-space: nowrap; 
  font-family: Spectral, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-top: 4.5px;
    margin-bottom: 4px;
    width: 63px;
    height: 18px;
}

  .time-notification{
    width: 100px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Spectral, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-top: 4.5px;
    margin-bottom: 4px;
    background-color: #111828;
  }

  .number-time-event{
    max-width: 35px;
}
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    background-color: #111828;       
  }

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #26334A;
  flex-shrink: 0;  
}

  .yellow-button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 90%; 
    height: 40px;
    border-radius: 8px;
    background-color: #0e8a00; 
    margin: 0 auto; 
    padding: 0; 
}

.plus{
  width: 18px;
  height: 18px;
  margin-left: 73px;
  margin-right: 0px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.button-add-task {
  color: white;
  font-family: Spectral, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center; 
  margin: 0; 
  white-space: nowrap; 
}
  
.red-button{
  display: flex;
  width: 380px;
  height: 40px;
  padding: 4px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #9b0000;
  margin-bottom:50px;
  margin-right: 7px;
  margin-left: 7px;
}

.button-delete-task{
  color: white;
  width: 228px;
  height: 21px;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 73.5px;
  margin-left: 73.5px;
  font-family: Spectral, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.delete-window{
  position: absolute;
  top: 12px;           
  left: 30px; 
  z-index: 100;  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #375589;
  width: 332px;
  height: 200px;
  border-radius: 16px;
  margin-top: 240px;
  padding: 30px;
}

.hidden{
  display: none;
}

.confirm{
  color: white;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 54.5px;
  margin-right: 54.5px;
  margin-bottom: 20px;
}

.buttons-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

.confirm-true{
  background-color: #00811c; 
  color: rgb(0, 0, 0);              
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
}

.confirm-false{
  background-color: #bb433a; 
  color: rgb(0, 0, 0);              
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
}
