* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Spectral, serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
}

.header-1 {
  width: 100%;
  background-color: #26334A;
  max-width: 100%; 
}

.footer-1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 114px;
  z-index: 10;
  background-color: #26334A;
}

.tasks-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #26334A;
  height: 64px;
}

.tasks-panel-h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  font-family: Spectral, serif;
  color: #FCFAEE;
  text-align: left;
  margin-left: 12px;
}

.scroll-box {
  display: grid;
  gap: 20px;
}

.list-tasks {
  position: fixed;
  top: 64px;
  bottom: 114px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #111828;
  padding: 12px 0;
}

.theme-block {
  position: relative;
  width: 344px;
  height: 48px;
  border-radius: 8px;
  background-color: #26334A;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.theme-block-hard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-theme-block {
  display: flex;
  margin-left: 30px;
  align-items: center;
  order: 2;
}

.a-theme-block input {
  display: none;
}

.button {
  width: 51px;
  height: 31px;
  border-radius: 100px;
  background-color: #34C759;
  position: relative;
  transition: 0.1s;
}

.button::before {
  position: absolute;
  content: '';
  width: 27px;
  height: 27px;
  border-radius: 100px;
  background-color: #ffffff;
  margin-left: 22px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  transition: 0.1s;
}

input:checked + .button {
  background-color: rgba(120, 120, 128, 0.16);
}

input:checked + .button::before {
  transform: translateX(-20px);
}

.notification-button {
  width: 51px;
  height: 31px;
  background-color: #26334A;
  margin-left: 25px;
  border: none;
}

.notification-button img {
  margin-top: 5px;
}

.theme-text {
  white-space: nowrap;
  color: white;
  font-size: 16px;
}

.bottom-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  background-color: #26334A;
  padding: 0 12.725vw;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.nav-item-0-txt,
.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 12px;
  color: gray;
}

.nav-item-0-txt {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #111828;
}

.a-none-decorat {
  text-decoration: none; 
  color: inherit; 
}

.a-none-decorat:focus,
.a-none-decorat:hover,
.a-none-decorat:active {
  outline: none;
  text-decoration: none;
}

@media (max-width: 393px) {
  .tasks-panel-h1 {
      font-size: 20px;
  }

  .list-tags-item {
      font-size: 10px;
      padding: 0 4px;
  }

  .yellow-button {
      width: calc(100% - 14px);
  }

  .name-task {  
      font-size: 14px;
  }

  .deadline {
      font-size: 10px;
  }
}

.split-screen,
.calendar,
.tune {
  margin-right: 25.45vw;
}

.split-screen:last-child,
.calendar:last-child,
.tune:last-child {
  margin-right: 0;
}
