* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Spectral, serif;
  }
  
  html, body {
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  #darkEvForm{
    display: flex;
    flex-direction: column;
    height: 100%; 
  }

  .tasks-panel {
    display: flex;
    background-color: #26334A;
    /*width: 393px;*/
    width: 100%;
    height: 64px;  
    flex-shrink: 0; 
  }

  .content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color:#111828;
    overflow-y: auto;
  }

  .content::-webkit-scrollbar {
    width: 6px; 
  }
  
  .content::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .content::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 3px; 
  }
  
  .content::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }

  .back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .back-icon{
    transform: rotate(90deg);
    margin-left: 10px;
  }
  
  .tasks-panel-h1{
    font-size: 18px;
    font-weight: 600;
    font-family: Spectral, serif;
    line-height: 21px;
    width: 155px;
    height: 21px;
    padding-left: 12px;
    color: #FCFAEE;
    margin-left: 12px;
    margin-right: 32px;
    margin-top: 21px;
    margin-bottom: 22px;
  }
  
  .type-event{
    width: 138px;
    height: 38px;
    padding: 10px 0px 0px 0px;
    gap: 32px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #26334A;
    margin-left: 0px;
    margin-right: 56px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 15px;
    pointer-events: none;
    color: white;
    border-color: #ffffff;
  }
  
  select {
    background-color:#26334A; 
    color: initial;          
  }
  
  #mySelect option:first-child {
    color: gray !important;
  }
  
  .type-event-item{
    color: white;
    font-family: Spectral, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.list-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.name-event, .desc-event {
  width: 368px; 
  margin: 12px 0; 
}

.name-event {
  width: 368px;
  height: 46px; 
  padding: 12px 0px 12px 24px;
  border-radius: 16px;
  background-color: #111828;
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
  color: #ffffff;
}

.desc-event {
  width: 368px;
    height:126px;
    padding: 12px 0px 12px 24px;
    border-radius: 16px;
    background-color:#111828;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
    color:#ffffff
}
  .date-event{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 41px;
    gap: 16px;
    opacity: 0px;
    background-color: #111828;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .start-and-finish-time-block{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 41px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
    gap: 7px;
  }

  .added-calendar{
      margin-top: 15px;
  }

  .watch{
    width: 23.33px;
    height: 23.33px;
    margin-left: 0px;
    margin-top: 9px;
    margin-right: 12px;
    left: 0px;
  }

  .day-task{
    width: 93px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #111828;
    color: #ffffff;
    border-bottom: 1px solid white;
  }

  .white-text{
    color: #ffffff;
    margin-top: 11px;
    margin-right: 16px;
    padding: 0px;
    border-bottom: 1px solid white;
    font-size: 16px; 
    line-height: 1.5em;
  }

.date-span {
    white-space: nowrap; 
}

input[type="text"]::placeholder {
  color: #333333;
}

  .start-event-time{
    width: 74px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    border: none;
    opacity: 0px;
    background-color: #818181;
    color: #333333;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin: 0px;
  }

  .finish-event-time{
    width: 74px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    border: none;
    opacity: 0px;
    background-color: #818181;
    color:#333333;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 27px;
  }

  .tire{
    color: white;
    font-family: Spectral, serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
  }
  
  .notification{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 28px;
    opacity: 0px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .notification-bell{
    width: 22.17px;
    height: 23.33px;
    margin-left: 4px;
    margin-top: 2px;
    margin-right: 17px;
  }

  .Za{
    width: 28px;
    height: 21px;
    color:#ffffff;
    font-family: Spectral, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 4px;
    margin-right: 32px;
  }

  .time-input-container {
    display: flex;
    width: 93px;
    align-items: center;
    gap: 5px; 
    border-bottom: 1px solid white;
}

.minutes-label {
  white-space: nowrap; 
  font-family: Spectral, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-top: 4.5px;
    margin-bottom: 4px;
    width: 63px;
    height: 18px;
}

  .time-notification{
    width: 100px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Spectral, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-top: 4.5px;
    margin-bottom: 4px;
    background-color: #111828;
  }

  .number-time-event{
    max-width: 35px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-time {
  width: 364px;
  height: 360px;
  background-color: #111828;
  border-radius: 12px;

  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  filter: blur(30);
}

.choice {
  padding: 12px 18px 12px 16px;
  font-family: "Inter" sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 25px;
  width: 343px;
  height: 49px;
  margin: 0;
}

.time-picker {
  width: 202px;
  height: 168px;
  margin: 15px 81px;
  display: flex;
  justify-content: center;
}

.hours, .minutes {
  width: 101px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.time, .time-divider {
  font-family: 'Inter' sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 26px;
  color: #333333;
  height: 56px;
  height: 56px;
  display: flex;          
  align-items: center;   
  justify-content: center; 
  box-sizing: border-box;
}

.minutes .time {
  margin-left: 0;
  padding: 10px 0;
  padding-right: 60px;
  margin-bottom: 0;
}

.hours .time {
  margin-right: 0;
  padding: 10px 0;
  padding-left: 60px;
  margin-bottom: 0;
}

.time-divider {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-right: 0px;
  color: #ffffff;
  display: block;
}

.current-time {
  color: #ffffff;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.buttons {
  width: 312px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup-cancel, .popup-save {
  width: 148px;
  height: 56px;
  border-radius: 12px;
  padding: 18px 16px;
}

.popup-cancel {
  background-color: #111828;
  border: 1px solid #333333;
}

.popup-save {
  background-color: #78BA6F;
}

.popup-cancel p, .popup-save p {
  font-family: 'Inter' sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.popup-save p {
  color: #FFFFFF;
}

.popup-cancel p {
  color: #818181;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    background-color: #111828;   
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #26334A;
  flex-shrink: 0; 
}

.yellow-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  width: 90%; 
  height: 40px;
  border-radius: 8px;
  background-color: #FCBC02;
  margin: 0 auto; 
  padding: 0; 
}

.plus{
  width: 18px;
  height: 18px;
}

.button-add-task {
  color: white; 
  font-family: Spectral, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center; 
  margin: 0; 
  white-space: nowrap; 
}
