* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 15px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-bottom: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  width: 205px;
  border-radius: 24px;
  padding: 8px 16px;
  margin-left: 7px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 14px;
}

.child:last-child {
  margin-bottom: 0;
}

.chosen-date {
  font-family: Roboto serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.date-button, .profiles-button {
  border: none;
  background: none;
  padding: 0;
}

.profile-avatar {
  border-radius: 30px;
  border: 2px solid #F26E56;
  height: 32px;
  width: 32px;
}

.week {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  margin-top: 20px;
}

.week-day {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 58px;
  padding: 8px;
  border-radius: 25px;
  align-items: center;
}

.week-day-name {
  font-size: 15px;
  color: #FCBC02;
  margin-bottom: 6px;
}

.chosen-day {
    background-color: #F26E56;
}


.tasks {
  width: 344px;
  height: 464px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.task {
  height: 80px;
  background-color: #5495F0;
  border: 1px solid #818181;
  border-radius: 16px;
  padding: 8px 12px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 16px;
}

.task-data {
  display: flex;
  margin-top: 4px;
}

.check-data {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 8px;
  right: 12px;
}

.task-name, .task-name-not-image {
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 10px;
}

.task-name-not-image {
  margin-left: 0;
}

.task-time {
  font-size: 13px;
  color: #FFFFFF;
  margin-right: 6px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  border-top: 1px solid #818181;
}

.bottom-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: 0 12.725vw;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.nav-item-0-txt,
.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 15px;
  color: #818181;
}

.nav-item-0-txt {
  color: #050505;
}
