* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 15px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-bottom: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  width: 205px;
  border-radius: 24px;
  padding: 8px 16px;
  margin-left: 7px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 14px;
}

.child:last-child {
  margin-bottom: 0;
}

.chosen-date {
  font-family: Roboto serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.date-button, .profiles-button {
  border: none;
  background: none;
  padding: 0;
}

.profile-avatar {
  border-radius: 30px;
  border: 2px solid #F26E56;
  height: 32px;
  width: 32px;
}

.week {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  margin-top: 20px;
}

.week-day {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 58px;
  padding: 8px;
  border-radius: 25px;
  align-items: center;
}

.week-day-name {
  font-size: 15px;
  color: #FCBC02;
  margin-bottom: 6px;
}

.chosen-day {
  background-color: #F26E56;
}


/* Новое! */

.list-tasks{
  position: fixed; 
  top: 144px; 
  bottom: 114px;
  left: 0; 
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 24px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  padding: 12px 0;  
}

.scroll-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: auto; 
  color: white;
}

.time-box-elem{
  width: 42px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: Istok Web, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #818181;
  padding: 0px;
  margin-top: 60px;
  margin-right: 12px;
  margin-left: 12px;
}

.time-box-elem-1{
  margin-top: 70px;
}

.empty-blocks{
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 1882px;
  width: 100%;
  color: #818181;
  border: 1px solid #818181;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.empty-blocks-elem{
  height: 78px;
  width: 100%;
  border: 0.5px solid #81818180;
}

.event-in-calendar {
  background-color: #F26E56; 
  display: inline-flex; 
  align-items: center; 
  padding: 8px 3px; 
  border-radius: 16px; 
  margin-bottom: 10px; 
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25); 
  margin-left: 8px;
}

.event-name {
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  color: black;
}

.event-time {
  color: #616060;
  font-size: 12px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container{
  height: 78px;
}

.icon-image {
  width: 20px; 
  height: 20px;
  object-fit: contain;
}

.add-button {
  position: fixed;
  bottom: 89px;
  right: 46px;
  z-index: 1000;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  padding: 4px 13px;
  background-color: #007BFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.add-event {
  width: 325px;
  height: 293px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid #000000;
}

.event {
  display: flex;
  width: 122px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-top: 15px;
}

.event-h {
  color: #F26E56;
  font-family: Inter, serif;
  font-size: 24px;
  font-weight: 600;
}

.vector {
  margin-top: 4px;
}

.new-event-name {
  width: 248px;
  height: 46px;
  border-radius: 16px;
  border: 1px solid rgba(129, 129, 129, 0.5);
  outline: none;
  padding: 12px 16px;
  padding-right: 0;
  margin-left: 16px;
  margin-top: 35px;
}
.new-event-name:active {
  border: 1px solid rgba(129, 129, 129, 0.5);
}

.new-event-name::placeholder {
  font-family: Inter, serif;
  font-size: 18px;
  color: #818181;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-time {
  width: 364px;
  height: 360px;
  background-color: #FFFFFF;
  border-radius: 12px;

  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  filter: blur(30);
}

.choice {
  padding: 12px 18px 12px 16px;
  font-family: "Inter" sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #050505;
  line-height: 25px;
  width: 343px;
  height: 49px;
  margin: 0;
}

.time-picker {
  width: 202px;
  height: 168px;
  margin: 15px 81px;
  display: flex;
  justify-content: center;
}

.hours, .minutes {
  width: 101px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.time, .time-divider {
  font-family: 'Inter' sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 26px;
  color: #818181;
  height: 56px;
  height: 56px;
  display: flex;          
  align-items: center;   
  justify-content: center; 
  box-sizing: border-box;
}

.minutes .time {
  margin-left: 0;
  padding: 10px 0;
  padding-right: 60px;
  margin-bottom: 0;
}

.hours .time {
  margin-right: 0;
  padding: 10px 0;
  padding-left: 60px;
  margin-bottom: 0;
}

.time-divider {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-right: 0px;
  color: #050505;
  display: block;
}

.current-time {
  color: #050505;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.buttons {
  width: 312px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup-cancel, .popup-save {
  width: 148px;
  height: 56px;
  border-radius: 12px;
  padding: 18px 16px;
}

.popup-cancel {
  background-color: #ffffff;
  border: 1px solid #333333;
}

.popup-save {
  background-color: #78BA6F;
}

.popup-cancel p, .popup-save p {
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.popup-save p {
  color: #FFFFFF;
}

.popup-cancel p {
  color: #818181;
}

.time-block {
  display: flex;
  margin-top: 35px;
}

.start-event-time, .finish-event-time {
  width: 74px;
  height: 41px;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  opacity: 0px;
  background-color: #F26E56;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin: 0px;
}

.start-event-time::placeholder, .finish-event-time::placeholder {
  color: #FFFFFF;
}

.finish-event-time{
  margin-right: 27px;
}

.tire{
  color: rgb(0, 0, 0);
  font-family: Inter, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 5px 18px;
  margin-bottom: 0;
}

.clock {
  margin-left: 16px;
}

.time-inputs {
  display: flex;
  margin-left: 24px;
}

.event-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.cancel-button, .approuve-button {
  width: 136px;
  height: 41px;
  border: none;
  border-radius: 4px;
  padding: 18px 16px;
  background-color: rgba(129, 129, 129, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
  font-family: Inter, serif;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.approuve-button {
  background-color: rgba(120, 186, 111, 1);
}


/* Новое! */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  border-top: 1px solid #818181;
}

.bottom-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: 0 12.725vw;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.nav-item-0-txt,
.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 15px;
  color: #818181;
}

.nav-item-1-txt {
  color: #050505;
}