<div class="footer-1">
    <section class="bottom-nav">
      <div class="nav-item nav-item-0">
        <a href="settings.html">
          <img class="tune image" src="/img/tune.png">
        </a>
        <p class="nav-item-0-txt p-tag">Настройки</p>
      </div>
      <div class="nav-item nav-item-1">
        <a href="shedule.html">
          <img class="calendar image" src="/img/calendar_month.png">
        </a>
        <p class="nav-item-1-txt p-tag">Расписание</p>
      </div>
      <div class="nav-item nav-item-2">
        <a href="index.html">
          <img class="split-screen" src="/img/splitscreen.png">
        </a>
        <p class="nav-item-2-txt p-tag">Задачи</p>
      </div>
    </section>

    <section class="footer">
      <a class="a-none-decorat" href="create-new.html">
        <div class="yellow-button">
          <img class="plus" src="/img/add_2.png">
          <p class="button-add-task">Добавить новую задачу</p>
        </div>
      </a>
    </section>
  </div>